.name{
  color: white;   
  text-decoration: none;
  background-color: #FF6F31;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 8px;
  
}

.logout{
    color: rgb(0, 0, 0);   
    text-decoration: none;
    background-color: #ffffff;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;   
}


.logout:hover {
    background-color: #ffffff; 
    color: #fff; 
    border: solid black;
}

.name:hover{
    background-color: #FF6F31; 
    color: #fff; 
    border: solid black;

}


.name,
.logout {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.name,
.logout {
    transition: font-size 0.3s ease; 
}

.name:hover,
.logout:hover {
    font-size: 110%; 
}
